<section class="phx-hero">
  <h1>My Little Pony - Friendship is Magic</h1>
</section>

<h2><%= #raise "error" %></h2>

<ul>
  <li>My master has <%= plural_of(@produce, 1) %></li>
  <li>The dame has <%= plural_of(@produce, 2) %></li>
  <li>I have <%= plural_of(@produce, -1) %></li>
</ul>
