/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";
//@import "./custom.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}


/* /light */
.meter {
  background: gainsboro;
  border-radius: 5px;
}
.meter span {
  /* background: orange; */
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}

/* /license */
#license form {
  margin: 20px 0 0 0;
}
#license .card {
  background: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
#license .amount {
  font-size: 1.5em;
}
#license .time-remaining {
  text-align: center;
}
#license .time-remaining .value {
  font-size: 1.8em;
  font-weight: bold;
  color: darkred;
}
#license .time-remaining .label {
  font-size: 1.2em;
  color: gray;
}

/* /sales-dashboard */
#dashboard .stats {
  background: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  display: table;
  width: 100%;
}
#dashboard .stat {
  display: table-cell;
  text-align: center;
}
#dashboard .value {
  font-size: 1.5em;
  display: block;
}
#dashboard .name {
  font-size: 0.8em;
  display: block;
}

/* /search */
.stores ul {
  list-style: none;
}
.stores li {
  padding: 20px;
  //border-bottom: 1px solid black;
  background: aliceblue;
  border-radius: 5px;
  margin-bottom: 20px;
}
.stores li:first-child {
  //border-top: 1px solid black;
}
.stores .country {
  margin-bottom: 10px;
}

/* Loading Animation */

.loader {
  margin: 0 auto 20px;
  width: 70px;
  text-align: center;
}

.loader > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}


/* flights */

.search_flights_form { display: flex; }
.search_flights_form form { display: flex; flex: 50% 0 0; }
.search_flights_form form:nth-child(1) { padding-right: 10px; }
.search_flights_form form:nth-child(2) { padding-left: 10px; }
.search_flights_form input[type="text"] { margin-right: 5px; }

.flights {
}
.flights ul {
  list-style: none;
}
.flights li {
  border-radius: 5px;
  background-color: aliceblue;
  padding: 20px;
  margin-bottom: 20px;
}
.flights .first-line,
.flights .second-line
{
  display: table;
  width: 100%;
}

.flights .number,
.flights .origin-destination,
.flights .departs,
.flights .arrives
{
  display: table-cell;
  width: 50%;
}
.flights .number {
  font-weight: bold;
}

.flights img { width: 16px; }

/* /autocomplete */

.kinokuniya-store-search-forms {
  //display: table;
  margin: auto;
  display: flex;
}

.kinokuniya-store-search-forms form {
  //display: table-cell;
  //padding-right: 10px;
  display: flex;
  flex: 50% 0 0;
}

.kinokuniya-store-search-forms form:first-child {
  padding-right: 10px;
}
.kinokuniya-store-search-forms form:nth-child(2) {
  padding-left: 10px;
}

.kinokuniya-store-search-forms form input[type="text"] {
  //width: 75%;
  margin-right: 5px;
}

.kinokuniya-store-search-forms form button {
  padding-left: 10px;
  padding-right: 10px;
}

/* /filter */

#filter form {
  margin-bottom: 1em;
}
.filters {
  display: flex;
  align-items: center;
}
.filters select,
.filters input
{ margin: 0; }

.filters select {
  height: inherit;
}

.filters .prices {
  margin-left: 30px;
  display: flex;
}
.filters .prices label {
  margin-right: 20px;
  margin-bottom: 0;
}
.filters .clear {
  margin-left: 10px;
}
.boats {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.boats .card {
  flex: 33.33% 0 0;
  padding: 10px;
}
.boats img {
  border-radius: 5px 5px 0 0;
  margin-bottom: -10px;
}
.boats .model {
  font-weight: bold;
}
.boats .content {
  background: aliceblue;
  padding: 5px 10px 12px 10px;
}
.boats .price {
  font-weight: bold;
  color: green;
}
.boats .type {
  background: steelblue;
  color: aliceblue;
  font-size: 0.75em;
  border-radius: 5px;
  padding: 1px 5px;
}

/* /servers */
#servers {
  display: flex;
  flex-wrap: wrap;
}
#servers nav a {
  display: block;
  padding: 0 5px;
}
#servers nav .active {
  background: gainsboro;
  padding: 0 5px;
  border-radius: 5px;
}
#servers .sidebar {
  padding: 15px 15px 0 14px;
  background-color: whitesmoke;
}
#servers img {
  width: 20px;
}
#servers .main {
  padding: 15px;
}
#servers .row {
  padding-left: 15px;
  margin-bottom: 15px;
}
#servers .header span {
  border-radius: 5px;
  padding: 5px;
}
#servers .up {
  background-color: lightgreen;
}
#servers .down {
  background-color: lightcoral;
}
#servers h2 {
  margin-bottom: 10px;
}
#servers .header {
  margin-bottom: 20px;
}
